<a href="https://colab.research.google.com/github/stenoe/FEDS/blob/main/notebooks/LectureNotebooks/FEDS_challenge_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One solution for the challenge from 5.2.2023

## The Challenge!

Try to create a new notebook. 

1. create some int variables
2. use the `type()` command to see if the variables you created are really int(eger)
3. Try to calculate the product * and the division / of two int variables
4. Check what is the type of the division

In [4]:
# 1. Create some int (integer) variables

int_var_1 = 23
int_var_2 = 3

In [5]:
# 2. Use the type() function to check if we have got integers
type(int_var_1), type(int_var_2)

(int, int)

Great, we got two times integer variables ðŸ˜€

In [6]:
# Calculate the product and store to a variable
product = int_var_1 * int_var_2

# Calcualte the division between int_var_1 and int_var_2
division = int_var_1 / int_var_2

In [7]:
# Let's check the results of the operations
product, division

(69, 7.666666666666667)

In [8]:
# 4. Let us check the types
type(product), type(division)

(int, float)

Ok, we do get one int and one float! It seems the division led to a number that has a decimal point.

What happens if I try division by 1, that should not be a decimal number!

In [9]:
div_by_one = int_var_2 / 1
div_by_one, type(div_by_one)

(3.0, float)

Well, it seems Python uses the **dynamic typing** and in the case of divisions, it can happen that the results is not an integer number anymore. The division operation therefore results in a floating point number.

## Create an error

Very often by using Python we have so called **type** errors. Above I used only integer `int` type variables. Making calculations like adding, subtracting or multiplying will retain the type `int`. Only the division operation is always chaning the type to `float`. 

But what happes if I use a **wrong** type for an operand?

The `+` operand can work if the types are the same like `int + int -> int`. It also can work if the arguments are numbers like in `float + int -> float`. 

### <font color="blue">*But what happens if I use a text and a number?*</font>

In the example below, I add an `int` and a `string` type, that generates an type error. It tells, that the `+` operand is not supported for this operation.

In [10]:
int_var_1 + "Hello"

TypeError: ignored

### Can I circumvent this?

yes, I can 'cast' the number into a string by using the function `str()`.

In [11]:
str(int_var_1)

'23'

**NOTE:** the number that was stored in the `int` variable `int_var_1` is now expressed as text or better as `string` which is visible by the two ' ' marks.

It is now written in the output as `'23'` instead of `23` shown below.

In [12]:
int_var_1

23

### Adding `string` types

While we can of course add numbers. But, we can do this also for textual variables, the `string` types. 

In the example below, I cast the `int_var_1` into a string and add another string `"Hello"` to it. They get **glued** together.

In [13]:
string_var = str(int_var_1) + "Hello"
string_var

'23Hello'

**NOTE:** The text is now in `' '` marks. 

* In Python, you can use both, `" "` or `' '` to tell the interpreter that what is in there is a text.

Let's test if the new variable is really of type string:

In [15]:
type(string_var)

str

Indeed, it is. Python denotes the type as `str` which means it's a string.

## Let's test one more type conversion

Here, I add a `float` and an `int` type, both are numbers, and then I check the type of the variable.

In [14]:
dd = 2.5 + 7
type(dd)

float